.w3-theme-l5 {color:#000 !important; background-color:#f1f8f1 !important}
.w3-theme-l4 {color:#000 !important; background-color:#cfe8cf !important}
.w3-theme-l3 {color:#000 !important; background-color:#9fd19f !important}
.w3-theme-l2 {color:#fff !important; background-color:#6eb96e !important}
.w3-theme-l1 {color:#fff !important; background-color:#499749 !important}
.w3-theme-d1 {color:#fff !important; background-color:#2d5d2d !important}
.w3-theme-d2 {color:#fff !important; background-color:#285328 !important}
.w3-theme-d3 {color:#fff !important; background-color:#234823 !important}
.w3-theme-d4 {color:#fff !important; background-color:#1e3e1e !important}
.w3-theme-d5 {color:#fff !important; background-color:#193419 !important}

.w3-theme-light {color:#000 !important; background-color:#f1f8f1 !important}
.w3-theme-dark {color:#fff !important; background-color:#193419 !important}
.w3-theme-action {color:#fff !important; background-color:#193419 !important}

.w3-theme {color:#fff !important; background-color:#326732 !important}
.w3-text-theme {color:#326732 !important}
.w3-border-theme {border-color:#326732 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#326732 !important}
.w3-hover-text-theme:hover {color:#326732 !important}
.w3-hover-border-theme:hover {border-color:#326732 !important}

.maison-image {
    border: 1px solid #e4b381;
    border-radius: 4px;
    padding: 5px;
}

.maison-image:hover {
    box-shadow: 0 0 2px 1px rgb(148, 102, 56);
}


.w3-row {
    display: flex;
     padding: 5px;
}

.w3-container {
    flex:1;
}

.w3-table-all td textarea {width: 500px; height: 50px}

.pagination {
  display: inline-block;
}

.pagination a {
  color: #fff;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination a.active {
    color: #000000;
    background-color: #f0f0f0;
    border: 1px solid #000000;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

input, textarea {
    width: 100%;
    padding: 5px!important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(169,169,169)
}

.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}

.tabberlive {
 margin-top:1em;
 margin-bottom:26px;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0;
 padding: 2px 0;
 font: bold 0.8em Arial, sans-serif;
}

/*top-menu {background: #2C4056; color: #fff; height:1.8em; font-size: 0.em; padding: 2px 2px 0px 6px;}*/

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}

ul.tabbernav li a
{
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #778;
 border-bottom: none;
 background: #759FCF;
 text-decoration: none;
}

ul.tabbernav li a:link { color: #2c4056; }
ul.tabbernav li a:visited { color: #2c4056; }

ul.tabbernav li a:hover
{
 color: #fff;
 background: #759FCF;
 border-color: #555;
}

ul.tabbernav li.tabberactive a
{
 background-color: #f8f8f8;
 border-bottom: 1px solid #fff;
}

ul.tabbernav li.tabberactive a:hover
{
 color: #000;
 background: white;
 border-bottom: 1px solid white;
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
 padding:5px;
 border:1px solid #aaa;
 border-top: 1px solid #778;
 background: #f8f8f8;
 width :90%;


 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */

 /* height:200px; */

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 /* overflow:auto; */
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
 height:200px;
 overflow:auto;
}
