{% load i18n %}
{% load static %}
<html>
<title>PAVD Revue de littérature</title>
<meta charset="UTF-8">
<meta name="description" content="mise a jour données GRC">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'revlit/w3.css' %}">
    <link rel="stylesheet" href="{% static 'revlit/w3-theme-black.css' %}">
<body>
<div class="principal w3-theme-l5">

<!-- Header -->
<!-- <header class="w3-container w3-theme" id="myHeader"> -->
<header class="w3-row w3-theme-d3" id="myHeader">
    <div class="w3-half w3-center">
        <h4>PAVD</h4>
        <h1 class="w3-xxlarge w3-animate-bottom">Revue de littérature</h1>
    </div>
</header>

   <div class="w3-container w3-padding">
      {% block content %}

      {% endblock %}
    </div>
<!-- Footer -->
</div>

<footer class="w3-container w3-theme-d5 footerw3">
   {% blocktrans %}
        <h5>
        <a href="mailto:malijai.caulet.ippm@ssss.gouv.qc.ca?subject=NTP informations">Contact</a></h5>
   {% endblocktrans %}

</footer>

</body>
</html>
